In [3]:
def sum(a,b):
    return a + b

In [4]:
a =3
b=4
c=sum(a,b)

In [5]:
print(c)

7

In [9]:
def sum(a,b):
    result = a+b
    return result

In [10]:
a =sum(3,4)

In [12]:
print(a)

7

In [13]:
def say():
    return 'Hi'

In [15]:
a = say()
print(a)

Hi

In [16]:
def sum(a,b):
    print("%d,%d의 합은 %d입니다." %(a,b,a+b))

In [17]:
sum(3,4)

3,4의 합은 7입니다.

In [18]:
def sum_many(*args):
    sum = 0
    for i in args:
        sum = sum+i
    return sum

In [19]:
result = sum_many(1,2,3)

In [20]:
print(result)

6

In [21]:
def sum_mul(choice,*args):
    if choice =="sum":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result*i
    return result

In [22]:
sum_mul('sum',1,2,3,4,5)

15

In [23]:
sum_mul('mul',1,2,3,4,5)

120

In [25]:
def sum_and_mul(a,b):
    return a+b, a*b

In [26]:
sum_and_mul(3,4)

(7, 12)

In [28]:
sum, mul = sum_and_mul(3,4)

In [29]:
sum

7

In [30]:
mul

12

In [31]:
def say_myself(name,old,man=True):
    print("나의 이름은 %s입니다." % name)
    print("나이는  %d살입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [33]:
say_myself("아",4)

나의 이름은 아입니다.
나이는  4살입니다.
남자입니다.

In [36]:
say_myself("아",4,False)

나의 이름은 아입니다.
나이는  4살입니다.
여자입니다.

In [37]:
a = 1

In [38]:
def vartest(a):
    a = a + 1
    
    
vartest(a)
print(a)

1

In [39]:
def vartest(hello):
    hello = hello + 1

In [45]:
def vartest(a):
    a = a + 1
    
vartest(3)
print(a)

1

In [46]:
def vartest(a):
    a = a + 1
    return a
a = vartest(a)
print(a)

2

In [47]:
a = 1
def vartest():
    global a
    a = a + 1

vartest()
print(a)

2

In [48]:
a = input()

Life is too short, you need python

In [49]:
a

'Life is too short, you need python'

In [50]:
number = input("숫자를 입력하세요:")

숫자를 입력하세요:1

In [51]:
print(number)

1

In [53]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [55]:
f = open("새파일.txt",'w')

In [56]:
f.close()

In [57]:
f = open("새파일.txt",'w')

In [59]:
for i in range(1,11):
    data = "%d번째 줄입니다.\n"%i
    f.write(data)
f.close()

In [61]:
for i in range(1,11):
    data = "%d번째 줄입니다.\n"%i
    print(data)

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [63]:
f = open("새파일.txt",'r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [64]:
f = open("새파일.txt",'r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [65]:
while 1:
    data = input()
    if not data: break
    print(data)

1
1
1
1
2
2
3
3
4
4
5
5

In [67]:
f = open("새파일.txt",'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [70]:
f = open("새파일.txt",'r')
data = f.read()
print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [73]:
f = open("새파일.txt",'a')
for i in range(11,20):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [72]:
f = open("foo.txt",'w')
f.write("Life is too short, you need python")
f.close()

In [74]:
with open("foo.txt","w") as f:
    f.write("Life is too short, you need python")